@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

/* styling footer text */
.footer-text {
  font-weight: 300;
  font-size: 0.8rem;
  color: #fff;
}
/* color for logo */
.color-text-sub {
  color: #edc04d;
}

/* color for logo */
.color-text {
  color: hsla(267deg, 77%, 68%, 0.9);
}
/* logo size */
.logo {
  width: 4rem;
  height: 4rem;
}

/* join today button in side card content */
.color-btn {
  background-color: hsla(267deg, 77%, 68%, 0.9);
  color: #fff;
}

/* icon in the card aside content */
.flo {
  float: right;
}

/* color for footer text with logo */
.monospace-color {
  color: #849384;
}

/* showcase bg */
.showcase-bg {
  background-color: hsla(118deg, 45%, 69%, 0.2);
}

/* form label alignment */
.label-width {
  width: 10rem;
}
/* form field size */
.input-width {
  width: 28rem;
}

.asterisk-size {
  /* width: 0.5rem; */
  font-size: 0.5rem;
}
