@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

.footer-text {
  font-weight: 300;
  font-size: 0.8rem;
}

.color-text-sub {
  color: #eded11;
}

.color-text {
  color: hsla(267deg, 77%, 68%, 0.9);
}

.logo {
  width: 1.6rem;
  height: 1.6rem;
}
