@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

:root {
  --color-text:   hsla(267deg, 77%, 68%, 0.9);
  --color-text-sub:   #edc04d;
  --white: #fff;
  --monospace-color: #849384;
  --showcase-bg: hsla(118deg, 45%, 69%, 0.2);
}

/* styling footer text */
.footer-text {
  font-weight: 300;
  font-size: 0.8rem;
  color: var(--white);
}
/* color for logo */
.color-text-sub {
  color: var(--color-text-sub);
}

/* color for logo */
.color-text {
  color: var(--color-text);
}
/* logo size */
.logo {
  width: 4rem;
  height: 4rem;
}

/* join today button in side card content */
.color-btn {
  background-color: var(--color-text);
  color: var(--white);
}

/* icon in the card aside content */
.flo {
  float: right;
}

/* color for footer text with logo */
.monospace-color {
  color: var(--monospace-color);
}

/* showcase bg */
.showcase-bg {
  background-color: var(--showcase-bg);
}

/* form label alignment */
.label-width {
  width: 10rem;
}
/* form field size */
.input-width {
  width: 30rem;
}

.asterisk-size {
  /* width: 0.5rem; */
  font-size: 0.5rem;
}

.wrapper-div {
  width: 40rem;
}
